* { margin: 0; padding: 0;
background-color: rgb(166, 220, 232);
}
.btn{ margin-bottom: 4rem; background-color: rgb(205, 243, 173); }
a:hover{ color: red;} 

h1{text-align: center;}
a{text-decoration: none;}

.acebase, .yakida, .pupotext
{ display: block;
font-size: 1.2rem;
align-items: center;
border: 3px solid rgb(35, 101, 22);
border-radius: 1rem;
margin-right: 2rem;
}
/* .acebase{font-size: 1.3rem;} */

.btkn{ border: 2px solid red; border-radius: 5px; color: green;}
.btkn:hover{ color: blue; background-color: white;} 

*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    
